*
{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins';

    scroll-behavior: smooth;

    line-height: 1.4em;
}

:root
{
    --color-0:#1E272E;
    --color-1:#182025;
    --color-2:#FFF;
    --color-3:#E2E2E2;
    --color-4:#FEC207;
    --color-5:#FFD964;
    --color-6:#e74c3c;
    --color-7:#0A0A0A;

    --font-h1:clamp(40px,5vw,70px);
    --font-h2:clamp(25px,4vw,30px);
    --font-h3:clamp(15px,3vw,22px);
    --font-h4:clamp(15px,3vw,20px);
    --font-p:clamp(10px,3vw,15px);
}

body
{
    background-color: var(--color-0);
    background-image: url(src/Images/gear-background.png);
    background-size: 100px;
    background-repeat: repeat;
}

/**===GENERAL STYLES===**/

.Center
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Text-Colored
{
    color:var(--color-4)
}

.Text-Binding
{
    color:var(--color-6);
}

/* ===REVEAL EFFECT=== */

.Reveal
{
    position: relative;
    transform: translateY(100px);
    opacity: 0;
}

.Reveal-Effect
{
    transform: translateY(0px);
    opacity: 1;
    transition: all 0.5s ease;
}

/**===COTA STYLES===**/

.Cota-Content
{
    pointer-events: none;

    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
}

.Cota
{
    display: flex;
    width: 0%;
    opacity: 0;
    justify-content: space-between;
    align-items: center;
}

.Cota-Edge
{
    display: flex;
    align-items: center;
}

.Cota-Edge img
{
    width: 15px;
    height: auto;
}

.Cota-Edge-Invert
{
    transform: scaleX(-1);
}

.Cota-Bar
{
    height: 3px;
    width: 100%;
    background-color: white;
}

.Cota-Text
{
    text-transform: uppercase;
    font-weight: 500;

    color: white;

    transform: translateY(100%);
    opacity: 0;
}

/**===NAV BAR STYLES===**/

.NavBar
{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--color-2);
    border-bottom: 5px solid var(--color-4);

    justify-content: space-between;

    z-index: 100;
}

.NavBar-Button
{
    position: relative;

    height:60px;
    list-style: none;
}

.NavBar-Button a
{
    padding: 0px 25px;

    height: 100%;
    width: 100%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color:var(--color-0);
}

#NavBar-Logo > img
{
    width: 30px;
    height: auto;
    margin-left: 25px;
    margin-right: 10px;
}

#NavBar-Logo-Title
{
    font-weight: 500;
    text-transform: uppercase;
    margin-right: 25px;

    pointer-events: none;

    transform: translateX(-150%);
    opacity: 0;
}

.Social-Button
{
    width: 30px;
    margin:0px 5px;

    transition: all 0.2s ease-in-out;
}

.Social-Button>img
{
    width: 100%;
    height: auto;
}

.Social-Button:hover
{
    transform: scale(0.9);
}

.Cota-NavBar
{
    transform: translate(0%,150%);
}

.Cota-NavBar .Cota-Edge img
{
    width: 10px;
    height: auto;
}

.Cota-NavBar .Cota-Text
{
    font-size: var(--font-p);
    font-weight: 400;
}

#NavBar-Button-Menu
{
    display: none;

    cursor: pointer;
    position: relative;

    width: 60px;
    height: 60px;

    flex-direction: column;
    justify-content: space-around;
}

.Line
{
    pointer-events: none;
    position: absolute;

    top:30px;

    width: 80%;
    height: 5px;
    background-color: var(--color-0);
    border-radius: 50px;
}

.LineTop
{
    top:15px;
}

.LineBottom
{
    top: 45px;
}

/**===SECTIONS STYLES===**/

.Section
{
    width: 100%;
    height: fit-content;
    min-height: 100vh;

    overflow: hidden;
}

/**===MOBILE MENU STYLES===**/

.Mobile-Menu
{
    display: none;
    flex-direction: column;
    left:100%;
    position: fixed;
    z-index: 99;

    width: 100%;
    height: 100%;

    background: linear-gradient(180deg, var(--color-4) 0%, var(--color-5) 100%);
}

#Mobile-Buttons
{
    width: 90%;
    height: fit-content;
    align-self: flex-start;
}

#Mobile-Buttons > li
{
    list-style: none;
    width: 100%;
}

.Mobile-Button
{
    width: 100%;
    padding: 5px 0px;
    text-decoration: none;
}

.Mobile-Engine
{
    width: 25%;
    height: auto;
}

.Mobile-Engine>path
{
    fill: var(--color-0);
}

.Mobile-Text
{
    width: 75%;
    height: 40px;
    padding-left: 5px;

    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    color:var(--color-0);
}

.Active > .Mobile-Text
{
    color:var(--color-2);
    font-weight: 800;
}

.Active > .Mobile-Engine
{
    animation: rotation 5s linear infinite;
}

.Active > .Mobile-Engine > path
{
    fill: var(--color-2);
}

@keyframes rotation
{
    0%
    {
        transform: rotateZ(0deg);
    }
    100%
    {
        transform: rotateZ(360deg);
    }
}

.Social-Button-Mobile
{
    margin-top: 60px;
    width: 60px;
    transition: all 0.2s ease-in-out;
}

.Social-Button-Mobile>img
{
    width: 100%;
    height: auto;
}

.Social-Button-Mobile:hover
{
    transform: scale(0.9);
}

/**===SECTION HOME STYLES===**/

#Home-Titles
{
    position: relative;

    min-width: 500px;
    max-width: 1000px;

    width: 40%;
    height: 100%;
    flex-direction: column;
}

#Home-Titles > h1
{
    width: 100%;
    color: var(--color-2);
    font-size: var(--font-h1);
    line-height: 0.5em;

    text-transform: uppercase;
}

#Home-Titles > h3
{
    width: 100%;
    font-size: var(--font-h4);
    font-weight: 300;
    color: var(--color-3);
}

#Home-Gallery
{
    min-width: 500px;
    max-width: 1000px;

    width: 40%;
    height: 100%;
}

#Home-GalleryContent
{
    overflow: hidden;

    position: relative;

    width: 450px;
    height: 450px;

    box-shadow: 0px 0px 50px var(--color-1);
    transition: all 0.2s ease-in-out;
}

#Home-GalleryContent:hover
{
    transform: scale(1.025);
}

.Home-Gallery-Img
{
    position: absolute;
    width: 100%;
    height: auto;

    opacity: 1;
}

#Home-Img-1, #Home-Img-2
{
    transform:translateX(100%);
}

.Cota-Titles
{
    top: 0%;
}

.Cota-Titles .Cota
{
    width: 15%;
    opacity: 0;
}

.Cota-Titles .Cota-Text
{
    opacity: 0;
    transform: translateY(100%);
    font-size: var(--font-h3);
}

/**===SECTION KNOWME STYLES===**/

#KnowMe-Profile
{
    position: relative;

    min-width: 500px;
    max-width: 1000px;
    width: 30%;
    height: 100%;
}

#KnowMe-Profile > img
{
    width: 100%;
    padding-right: 60px;
    height: auto;
}

#KnowMe-Info
{
    position: relative;

    min-width: 500px;
    max-width: 1000px;
    width: 50%;
    height: 100%;

    flex-direction: column;
}

#KnowMe-Info > h1
{
    width: 100%;
    font-size: var(--font-h1);
    text-transform: uppercase;
    color: var(--color-2);

    line-height: 0.5em;
}

#KnowMe-Info > h3
{
    width: 100%;
    color: var(--color-3);
    font-size: var(--font-h4);
    font-weight: 300;
}

#KnowMe-Aptitudes
{
    position: relative;
    overflow: hidden;

    padding-top: 30px;
    width: 100%;
    white-space: nowrap;
}

#KnowMe-Aptitudes::before,
#KnowMe-Aptitudes::after
{
    background: linear-gradient(to right, var(--color-0) 0%, #1E272E00 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

#KnowMe-Aptitudes::before
{
    left: 0;
    top: 0;
}

#KnowMe-Aptitudes::after
{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

#KnowMe-Aptitudes:hover .KnowMe-Slider 
{
    animation-play-state: paused;
}

.KnowMe-Slider
{
    height: 100%;
    display: inline-flex;
    animation: 10s scroll infinite linear;
}

.KnowMe-Slider-Item
{
    cursor: default;

    width: 150px;
    height: 60px;

    background-color: var(--color-4);

    margin: 10px;

    color:var(--color-1);
    font-weight: 700;
    font-size: var(--font-h4);

    transition: all 0.2s ease-in-out;
}

.KnowMe-Slider-Item:hover
{
    background-color: var(--color-3);
    transform: scale(0.975);
}

@keyframes scroll 
{
    from
    {
        transform: translateX(0);
    }
    to

    {
        transform: translateX(-100%);
    }
}


/**===SECTION EXPERIENCE STYLES===**/

#Experience
{
    flex-direction: column;
}

#Experience-Title
{
    position: relative;
}

#Experience-Title .Cota-Titles
{
    width: 100%;
}

#Experience-Title > h1
{
    text-align: center;
    font-size: var(--font-h1);

    text-transform: uppercase;
    color:var(--color-2);
}

#Experience-TemporalLine
{
    position: relative;

    width: 100%;
    height: 250px;

    padding-bottom: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

#Experience-TemporalLine::before,
#Experience-TemporalLine::after
{
    background: linear-gradient(to right, var(--color-0) 0%, #1E272E00 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

#Experience-TemporalLine::before
{
    left: 0;
    top: 0;
}

#Experience-TemporalLine::after
{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.Experience-Track
{
    width: fit-content;

    justify-content: center;
    align-items: center;
    display: flex;
}

.Experience-Item
{
    position: relative;

    width: 200px;
    height: 100px;

    background-color: var(--color-4);
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);

    display: flex;
    justify-content: center;
    align-items: center;
}

.Experience-Item > h3
{
    position: absolute;

    font-family: "Poppins";
    color: var(--color-0);
    font-size: var(--font-h2);
    font-weight: 700;

    text-align: center;
    right: 25%;
}

#Experience-Info
{
    position: relative;

    width:60%;
    height: 50%;
}

#Experience-Info .Cota-Titles
{
    width: 100%;
}

#Experience-Info-Text
{
    font-size: var(--font-h4);
    color: var(--color-3);
    font-weight: 300;
}

/**===SECTION WORKS STYLES===**/

#Works
{
    flex-direction: column;
}

.swiper 
{
    max-width: 80%;
    width: 100%;
    height: 100%;

    margin-bottom: 60px;
}

.Works-Gallery-Next, .Works-Gallery-Prev
{
    color:var(--color-3);
    transition: all 0.2s ease-in-out;
}

.Works-Gallery-Next:hover,.Works-Gallery-Prev:hover
{
    transform: scale(0.9);
}

.Works-Gallery-Next
{
    right: 0%;
}

.Works-Gallery-Prev
{
    left: 0%;
}

.swiper-pagination-bullet
{
    opacity: 1;
    background-color: var(--color-3);
}

.swiper-pagination-bullet-active
{
    background-color: var(--color-4);
}

.Works-Gallery-Content
{
    overflow-x: hidden;
}

.Works-Gallery
{
    margin-bottom: 40px;
}

.Works-Gallery-Card
{
    cursor: pointer;
    flex-direction: column;

    position: relative;
    overflow: hidden;

    height: 80vh;

    transition: all 0.2s ease-in-out;
}

.Works-Gallery-Card:hover
{
    transform: scale(0.975);
}

.Works-Gallery-Card > img
{
    position: absolute;

    width: 200%;
    height: auto;

    z-index: 0;
}

.Works-Gallery-Item-Gradient
{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;

    background: linear-gradient(0deg, #1E272E 0%, rgba(30, 39, 46, 0.8) 25%, rgba(30, 39, 46, 0) 100%);
    transition: all 0.2s ease-in-out;
}

.Works-Gallery-Card:hover > .Works-Gallery-Item-Gradient
{
    opacity: 1;
}

.Works-Gallery-Item-Info
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    z-index: 1;
    height: 93%;
    width: 100%;
}

.Works-Gallery-Item-Info > h1
{
    color: var(--color-2);
    text-transform: uppercase;

    font-size: var(--font-h1);
    line-height: 0.5em;

    padding-top: 10%;

    margin: 0% 5%;
}

.Works-Gallery-Item-Info > h3
{
    margin: 0% 5%;
    margin-bottom: 10%;
    font-weight: 300;
    font-size: var(--font-h4);
    color:var(--color-3);
}

.Works-Gallery-Item-Footer
{
    background-color: var(--color-4);

    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 1;
    width: 100%;
    height: 7%;
}

.Works-Gallery-Item-Footer p
{
    font-size: var(--font-p);
    font-weight: 600;
    text-transform: uppercase;

    color: var(--color-1);

    margin: 0% 5%;
}

#Works-Companies
{
    width: 100%;
    height: 20vh;
    background-color: var(--color-1);

    position: relative;
    overflow: hidden;

    white-space: nowrap;
}

#Works-Companies::before,
#Works-Companies::after
{
    background: linear-gradient(to right, var(--color-0) 0%, #1E272E00 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

#Works-Companies::before
{
    left: 0;
    top: 0;
}

#Works-Companies::after
{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

#Works-Companies:hover .KnowMe-Slider 
{
    animation-play-state: paused;
}

.Works-Slider
{
    height: 100%;
    display: inline-flex;
    animation: 10s scroll infinite linear;
}

.Works-Slider-Item
{
    width: auto;
    height: 60px;

    margin: 0 20px;

    transition: all 0.2s ease-in-out;
}

.Works-Slider-Item > img
{
    width: auto;
    height: 100%;
}

.Works-Slider-Item:hover
{
    transform: scale(0.975);
}

/**===SECTION CONTACT STYLES===**/

#Contact-Map
{
    min-width: 500px;
    max-width: 1000px;
    width: 40%;
    height: 80vh;

    border: none;
    box-shadow: 0px 0px 50px var(--color-1);

    padding-left: 60px;
}

#Contact-Form
{
    min-width: 500px;
    max-width: 1000px;
    width: 40%;

    flex-direction: column;

    padding: 60px 0;
}

#Contact-Form > h1
{
    width: 100%;
    color: var(--color-2);
    font-size: var(--font-h2);
}

.Contact-Input
{
    position:relative;

    flex-direction: column;

    width: 100%;
    background-color: var(--color-2);
    border-bottom: 5px solid var(--color-4);

    padding: 10px;
    padding-top: 80px;

    margin:5px 0%;
}

.Contact-Input h3
{
    color: var(--color-1);
    text-transform: uppercase;
    font-size: var(--font-h4);
    font-weight: 600;

    padding-bottom: 2%;
}

.Contact-Input input, textarea
{
    width: 100%;
    border: 1px solid var(--color-3);
    padding: 1%;

    font-size: var(--font-p);
}

.Contact-Last-Input
{
    margin-bottom: 0;
    border-bottom: none;
}

.Contact-Last-Input .Cota-Form
{
    top: 45px;
}

#Contact-Form-Submit
{
    width: 100%;
    height: 40px;

    border: none;
    background-color: var(--color-4);

    color:var(--color-1);

    font-size: var(--font-p);
    font-weight: 700;
    text-transform: uppercase;

    cursor: pointer;

    transition: 0.25s ease-in-out;
}

#Contact-Form-Submit:hover
{
    background-color: var(--color-3);
}

input, textarea
{
    width: 100%;
    border-radius: 0%;
    border: 1px solid #BBB;
    padding: 0.5rem;   
}

textarea
{
    resize: none;
}

.Cota-Form .Cota
{
    width: 95%;
    opacity: 1;

    margin-bottom: 30px;
}

.Cota-Form .Cota-Text
{
    opacity: 1;
    transform: translateY(50%);
    font-size: var(--font-h4);
}

.Cota-Form .Cota-Bar
{
    background-color: var(--color-1);
}

.Cota-Form .Cota-Edge
{
    filter: brightness(0%);
}

/**===SECTION FOOTER STYLES===**/

.Footer
{
   width: 100%;
   height: 50px;
   
   background-color: var(--color-2);
   border-top: 5px solid var(--color-4);
}

.Footer p
{
    color: var(--color-1);
    font-size: var(--font-p);

    text-align: center;
}

/**RESPONSIVE MEDIA QUERY**/

@media screen and (min-width: 2000px) 
{

    .Cota-Text
    {
        font-size: var(--font-h2);
    }

/**RESPONSIVE SECTION HOME**/

    #Home-GalleryContent
    {
        width: 600px;
        height: 600px;
    }

    #Home-Titles
    {
        width: 33%;
    }

    #Home-Titles > h3
    {
        font-size: var(--font-h2);
    }

    #Home-Gallery
    {
        width: 33%;
    }

/**RESPONSIVE SECTION KNOWME**/

    #KnowMe-Profile
    {
        width: 33%;
    }

    #KnowMe-Profile > img
    {
        width: 70%;
        height: auto;
    }

    #KnowMe-Info
    {
        width: 33%;
    }

    #KnowMe-Info > h3
    {
        font-size: var(--font-h2);
    }

    #Experience-TemporalLine
    {
        height: 350px;
        margin: 100px 0px;
    }

/**RESPONSIVE SECTION EXPERIENCE**/

    .Experience-Item
    {
        width: 400px;
        height: 200px;
    }

    .Experience-Item>h3
    {
        font-size: var(--font-h1);
    }

    #Experience-Info>h3
    {
        font-size: var(--font-h2);
    }

/**RESPONSIVE SECTION WORKS**/

    .Works-Gallery-Item-Info > h3
    {
        font-size: var(--font-h2);
    }

    .Works-Gallery-Item-Footer p
    {
        font-size: var(--font-h2);
    }

/**RESPONSIVE SECTION CONTACT**/

    #Contact-Form
    {
        width: 33%;
    }

    #Contact-Map
    {
        width: 33%;
        height: 50vh;
    }

}

@media screen and (max-width: 1000px) 
{
/**RESPONSIVE NAVBAR**/

    #NavBar-Social 
    {
      display: none;
    }
    #NavBar-Button-List 
    {
      display: none;
    }
    #NavBar-Button-Menu
    {
        display: block;
    }

/**RESPONSIVE MOBILE MENU**/

    .Mobile-Menu
    {
        display: flex;
    }

/**RESPONSIVE SECTION HOME**/

    #Home
    {
        padding-top: 60px;
        flex-direction: column;
    }

    .Cota-Titles
    {
        width: 90%;
    }

    #Home-Titles
    {
        min-width: fit-content;
        width: 100%;
        height: 50%;

        justify-content: center;
        padding-bottom: 60px;
    }

    #Home-Titles > h1
    {
        text-align: center;
        width: 90%;
    }

    #Home-Titles > h3
    {
        width: 90%;
    }

    #Home-Gallery
    {
        width: 100%;
        height: 50%;
    }

    #Home-GalleryContent
    {
        width: 300px;
        height: 300px;
    }

/**RESPONSIVE SECTION KNOWME**/

    #KnowMe
    {
        padding-top: 60px;
        flex-direction: column;
    }

    #KnowMe-Profile
    {
        padding:0;
        width: 90%;
        height: auto;

        padding-bottom: 30%;
    }

    #KnowMe-Profile > img
    {
        width: 70%;
        height: auto;
        padding: 0;
    }


    #KnowMe-Info
    {
        width: 100%;
        height: 50%;
    }

    #KnowMe-Info > h1
    {
        text-align: center;
        width: 90%;
    }

    #KnowMe-Info > h3
    {
        width: 70%;
    }

    #Cota-KnowMe
    {
        width: 70%;
    }

/**RESPONSIVE SECTION EXPERIENCE**/

    #Experience-Title
    {
        margin-top: 120px;
    }

    #Experience-Info
    {
        width: 90%;
    }

/**RESPONSIVE SECTION CONTACT**/

    #Contact
    {
        padding-top: 60px;
    
        justify-content: center;
        flex-direction: column;
    }

    #Contact-Form
    {
        z-index: 1;
        min-width: fit-content;
        width: 90%;
        padding: 0;
        margin: 0;
    }

    #Contact-Form > h1
    {
        text-align: center;
        margin-bottom: 20px;
    }

    #Contact-Map
    {
        min-width: fit-content;
        width: 100%;
        padding: 5%;
        margin: 0;
    }
}