*
{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins';

    scroll-behavior: smooth;

    line-height: 1.4em;
}

:root
{
    --color-0:#1E272E;
    --color-1:#182025;
    --color-2:#FFF;
    --color-3:#E2E2E2;
    --color-4:#FEC207;
    --color-5:#FFD964;
    --color-6:#e74c3c;
    --color-7:#0A0A0A;

    --font-h1:clamp(40px,5vw,80px);
    --font-h2:clamp(25px,4vw,50px);
    --font-h3:clamp(15px,3vw,25px);
    --font-h4:clamp(15px,3vw,20px);
    --font-p:clamp(10px,3vw,15px);
}

body
{
    background-color: var(--color-0);
    background-image: url(src/Images/gear-background.png);
    background-size: 100px;
    background-repeat: repeat;
}

/**===GENERAL STYLES===**/

.Center
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Text-Colored
{
    color:var(--color-4)
}

.Text-Binding
{
    color:var(--color-6);
}

/**===COTA STYLES===**/

.Cota-Content
{
    pointer-events: none;

    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
}

.Cota
{
    display: flex;
    width: 0%;
    opacity: 0;
    justify-content: space-between;
    align-items: center;
}

.Cota-Edge
{
    display: flex;
    align-items: center;
}

.Cota-Edge img
{
    width: 15px;
    height: auto;
}

.Cota-Edge-Invert
{
    transform: scaleX(-1);
}

.Cota-Bar
{
    height: 3px;
    width: 100%;
    background-color: white;
}

.Cota-Text
{
    text-transform: uppercase;
    font-weight: 500;

    color: white;

    transform: translateY(100%);
    opacity: 0;
}

/**===NAV BAR STYLES===**/

.NavBar
{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--color-2);
    border-bottom: 5px solid var(--color-4);

    justify-content: space-between;

    z-index: 100;
}

.NavBar-Button
{
    position: relative;

    height:60px;
    list-style: none;
}

.NavBar-Button a
{
    padding: 0px 25px;

    height: 100%;
    width: 100%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color:var(--color-0);
}

#NavBar-Logo > img
{
    width: 30px;
    height: auto;
    margin-left: 25px;
    margin-right: 10px;
}

#NavBar-Logo-Title
{
    font-weight: 500;
    text-transform: uppercase;
    margin-right: 25px;

    pointer-events: none;

    transform: translateX(-150%);
    opacity: 0;
}

.Social-Button
{
    width: 25px;
    height: auto;
    margin:0px 5px;

    cursor: pointer;
}

.Cota-NavBar
{
    transform: translate(0%,150%);
}

.Cota-NavBar .Cota-Edge img
{
    width: 10px;
    height: auto;
}

.Cota-NavBar .Cota-Text
{
    font-size: var(--font-p);
    font-weight: 400;
}

/**===SECTIONS STYLES===**/

.Section
{
    width: 100%;
    height: fit-content;
    min-height: 100vh;

    overflow: hidden;
}

/**===SECTION HOME STYLES===**/

#Home-Titles
{
    position: relative;

    min-width: 500px;
    max-width: 1000px;
    width: 45%;
    height: 100%;
    flex-direction: column;
}

#Home-Titles > h1
{
    color: var(--color-2);
    font-size: var(--font-h1);
    line-height: 0.5em;

    text-transform: uppercase;
}

#Home-Titles > h3
{
    width: 100%;
    font-size: var(--font-h4);
    font-weight: 300;
    color: var(--color-3);
}

#Home-Gallery
{
    width: 45%;
    min-width: 500px;
    max-width: 1000px;
    height: 100%;
}

#Home-GalleryContent
{
    overflow: hidden;

    position: relative;

    width: 500px;
    height: 500px;

    box-shadow: 0px 0px 50px var(--color-1);
    transition: 0.1s ease-in-out;
}

#Home-GalleryContent:hover
{
    transform: scale(1.025);
}

.Home-Gallery-Img
{
    position: absolute;
    width: 100%;
    height: auto;

    opacity: 1;
}

#Home-Img-1, #Home-Img-2
{
    transform:translateX(100%);
}

.Cota-Titles
{
    top: 0%;
}

.Cota-Titles .Cota
{
    width: 100%;
    opacity: 1;
}

.Cota-Titles .Cota-Text
{
    opacity: 1;
    transform: translateY(0%);
    font-size: var(--font-h3);
}

/**===SECTION KNOWME STYLES===**/

#KnowMe-Profile
{
    position: relative;

    min-width: 500px;
    max-width: 1000px;
    width: 45%;
    height: 100%;
}

#KnowMe-Profile > img
{
    width: 60%;
    height: auto;
}

#KnowMe-Info
{
    position: relative;

    min-width: 500px;
    max-width: 1000px;
    width: 45%;
    height: 100%;

    flex-direction: column;
}

#KnowMe-Info > h1
{
    font-size: var(--font-h1);
    text-transform: uppercase;
    color: var(--color-2);

    line-height: 0.5em;
}

#KnowMe-Info > h3
{
    color: var(--color-3);
    font-size: var(--font-h4);
    font-weight: 300;
}

#KnowMe-Aptitudes
{
    position: relative;
    overflow: hidden;

    padding-top: 30px;
    width: 100%;
    white-space: nowrap;
}

#KnowMe-Aptitudes::before,
#KnowMe-Aptitudes::after
{
    background: linear-gradient(to right, var(--color-0) 0%, #1E272E00 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

#KnowMe-Aptitudes::before
{
    left: 0;
    top: 0;
}

#KnowMe-Aptitudes::after
{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

#KnowMe-Aptitudes:hover .KnowMe-Slider 
{
    animation-play-state: paused;
}

.KnowMe-Slider
{
    height: 100%;
    display: inline-flex;
    animation: 10s scroll infinite linear;
}

.KnowMe-Slider-Item
{
    cursor: default;

    height: 100%;

    width: 150px;
    height: 60px;

    background-color: var(--color-3);
    border-bottom: 5px solid var(--color-4);

    margin: 0px 10px;

    color:var(--color-1);
    font-weight: 700;
    font-size: var(--font-h4);
}

@keyframes scroll 
{
    from
    {
        transform: translateX(0);
    }
    to

    {
        transform: translateX(-100%);
    }
}


/**===SECTION EXPERIENCE STYLES===**/

#Experience
{
    justify-content: space-between;
    flex-direction: column;
}

#Experience-Title
{
    height: 10%;
}

#Experience-Title > h1
{
    position: relative;

    padding-top: 80px;

    text-align: center;
    font-size: var(--font-h1);

    text-transform: uppercase;
    color:var(--color-2);
}

#Experience-TemporalLine
{
    width: 100%;
    height: 40%;

    background-color: var(--color-4);

    padding-bottom: 2%;
}

#Experience-Info
{
    padding-top: 20px;

    width:60%;
    height: 50%;

    margin-bottom: 5%;
}

#Experience-Info > h3
{
    position: relative;

    font-size: var(--font-h4);
    color: var(--color-3);
    font-weight: 300;
}

/**===SECTION WORKS STYLES===**/

#Works
{
    flex-direction: column;
}

#Works-Gallery
{
    margin-top: 100px;

    width: 100%;
    height: 80vh;

    margin-bottom: 2%;
}

#Works-Companies
{
    width: 100%;
    height: 20vh;
    background-color: var(--color-4);
}

.Works-Gallery-Item-Content
{
    flex-direction: column;

    position: relative;
    overflow: hidden;

    width: 90%;
    max-width: 450px;
    height: 95%;
    margin: 0 15px;

    box-shadow: 0px 0px 50px var(--color-1);
}

.Works-Gallery-Item 
{
    flex-direction: column;

    position: relative;
    overflow: hidden;

    width: 100%;
    height: 100%;
}

.Works-Gallery-Item-Content > img
{
    position: absolute;

    width: 200%;
    height: auto;

    z-index: 0;
}

.Works-Gallery-Item-Gradient
{
    position: absolute;
    width: 100%;
    height: 100%;

    background: linear-gradient(0deg, #1E272E 0%, rgba(30, 39, 46, 0.8) 25%, rgba(30, 39, 46, 0) 100%);
}

.Works-Gallery-Item-Hidden
{
    opacity: 0;
}

.Works-Gallery-Item-Info
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    z-index: 1;
    height: 93%;
    width: 100%;
}

.Works-Gallery-Item-Info > h1
{
    color: var(--color-2);
    text-transform: uppercase;

    font-size: var(--font-h1);
    line-height: 0.5em;

    padding-top: 10%;

    margin: 0% 5%;
}

.Works-Gallery-Item-Info > h3
{
    margin: 0% 5%;
    margin-bottom: 10%;
    font-weight: 300;
    font-size: var(--font-h4);
    color:var(--color-3);
}

.Works-Gallery-Item-Footer
{
    background-color: var(--color-4);

    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 1;
    width: 100%;
    height: 7%;
}

.Works-Gallery-Item-Footer p
{
    font-size: var(--font-p);
    font-weight: 600;
    text-transform: uppercase;

    color: var(--color-1);

    margin: 0% 5%;
}

/**===SECTION CONTACT STYLES===**/

#Contact-Map
{
    min-width: 500px;
    max-width: 1000px;
    width: 45%;
    height: 80vh;

    border: none;
    box-shadow: 0px 0px 50px var(--color-1);

    padding-left: 60px;
}

#Contact-Form
{
    min-width: 500px;
    max-width: 1000px;
    width: 45%;

    flex-direction: column;

    padding: 60px 0;
}

#Contact-Form > h1
{
    width: 100%;
    color: var(--color-2);
    font-size: var(--font-h2);
}

.Contact-Input
{
    position:relative;

    flex-direction: column;

    width: 100%;
    background-color: var(--color-2);
    border-bottom: 5px solid var(--color-4);

    padding: 2.25%;

    margin:1% 0%;

    padding-top: 80px;
}

.Contact-Input h3
{
    color: var(--color-1);
    text-transform: uppercase;
    font-size: var(--font-h4);
    font-weight: 600;

    padding-bottom: 2%;
}

.Contact-Input input
{
    width: 100%;
    border: 1px solid var(--color-3);
    padding: 1%;

    font-size: var(--font-p);
}

.Contact-Last-Input
{
    margin-bottom: 0;
}

.Contact-Last-Input .Cota
{
    padding-bottom: 85px;
}

#Contact-Form-Submit
{
    width: 100%;
    height: 40px;

    border: none;
    background-color: var(--color-4);

    color:var(--color-1);

    font-size: var(--font-p);
    font-weight: 700;
    text-transform: uppercase;

    cursor: pointer;
}

input, textarea
{
    width: 100%;
    border-radius: 0%;
    border: 1px solid #BBB;
    padding: 0.5rem;   
}

textarea
{
    resize: none;
}

.Cota-Form .Cota
{
    width: 95%;
    opacity: 1;

    margin-bottom: 30px;
}

.Cota-Form .Cota-Text
{
    opacity: 1;
    transform: translateY(50%);
    font-size: var(--font-h4);
}

.Cota-Form .Cota-Bar
{
    background-color: var(--color-1);
}

.Cota-Form .Cota-Edge
{
    filter: brightness(0%);
}

/**===SECTION FOOTER STYLES===**/

.Footer
{
   width: 100%;
   height: 50px;
   
   background-color: var(--color-2);
   border-top: 5px solid var(--color-4);
}

.Footer p
{
    color: var(--color-1);
    font-size: var(--font-p);

    text-align: center;
}

/**RESPONSIVE MEDIA QUERY**/

@media screen and (min-width: 2000px) 
{

/**RESPONSIVE SECTION HOME**/

    #Home-GalleryContent
    {
        width: 600px;
        height: 600px;
    }

    #Home-Titles
    {
        width: 33%;
    }

    #Home-Gallery
    {
        width: 33%;
    }

/**RESPONSIVE SECTION KNOWME**/

    #KnowMe-Profile
    {
        width: 33%;
    }

    #KnowMe-Info
    {
        width: 33%;
    }

/**RESPONSIVE SECTION CONTACT**/

    #Contact-Form
    {
        width: 33%;
    }

    #Contact-Map
    {
        width: 33%;
        height: 50vh;
    }

}

@media screen and (max-width: 1000px) 
{
/**RESPONSIVE NAVBAR**/

    #NavBar-Social 
    {
      display: none;
    }
    #NavBar-Button-List 
    {
      display: none;
    }

/**RESPONSIVE SECTION HOME**/

    #Home
    {
        padding-top: 60px;
        flex-direction: column;
    }

    .Cota-Titles
    {
        width: 90%;
    }

    #Home-Titles
    {
        min-width: fit-content;
        width: 100%;
        height: 50%;

        justify-content: center;
        padding-bottom: 60px;
    }

    #Home-Titles > h1
    {
        text-align: center;
        width: 90%;
    }

    #Home-Titles > h3
    {
        width: 90%;
    }

    #Home-Gallery
    {
        width: 100%;
        height: 50%;
    }

    #Home-GalleryContent
    {
        width: 300px;
        height: 300px;
    }

/**RESPONSIVE SECTION KNOWME**/

    #KnowMe
    {
        padding-top: 60px;
        flex-direction: column;
    }

    #KnowMe-Profile
    {
        padding:0;
        width: 90%;
        height: auto;

        padding-bottom: 30%;
    }

    #KnowMe-Info
    {
        width: 100%;
        height: 50%;
    }

    #KnowMe-Info > h1
    {
        text-align: center;
        width: 90%;
    }

    #KnowMe-Info > h3
    {
        width: 70%;
    }

/**RESPONSIVE SECTION EXPERIENCE**/

    #Experience-Info
    {
        width: 100%;
    }

    #Experience-Info>h3
    {
        margin: 0% 5%;
    }

/**RESPONSIVE SECTION WORKS**/

    #Works-Gallery
    {
        height: 60vh;
    }

/**RESPONSIVE SECTION CONTACT**/

    #Contact
    {
        padding-top: 60px;
    
        justify-content: center;
        flex-direction: column;
    }

    #Contact-Form
    {
        z-index: 1;
        min-width: fit-content;
        width: 90%;
        padding: 0;
        margin: 0;
    }

    #Contact-Form > h1
    {
        text-align: center;
        margin-bottom: 20px;
    }

    #Contact-Map
    {
        min-width: fit-content;
        width: 100%;
        padding: 5%;
        margin: 0;
    }
}